<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Category</title>
    <link rel="stylesheet"
             href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<main>
    <h4>Create expense</h4>
    <form class="container-fluid p-5 " th:object="${categoryData}"
          th:action="@{/categories/create}"
          method="post">
        <div>
            <input id="categoryName" type="text" placeholder="Enter category name"
                   th:field="*{categoryName}">
            <p th:if="${#fields.hasErrors('categoryName')}"
               th:text="${#strings.listJoin(#fields.errors('categoryName'), ', ')}"></p>

        </div>
        <br/>
        <div>
            <input id="user" type="text" placeholder="Enter user"
                   th:field="*{user}">
            <p th:if="${#fields.hasErrors('user')}"
               th:text="${#strings.listJoin(#fields.errors('user'), ', ')}"></p>
        </div>
        <br/>

        <button type="submit" a th:href="@{/users/create}">Create category</button>
        <button type="submit" a th:href="@{/users}">Back</button>
    </form>
</main>
</body>
</html>