
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create expense</title>
    <link rel="stylesheet"
                 href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<main>
    <h4>Create expense</h4>
    <form class="container-fluid p-5 " th:object="${expenseData}"
          th:action="@{/expenses/create}"
          method="post">
        <div>
            <input id="category" type="text" placeholder="Enter category id"
                   th:field="*{category}">
            <p th:if="${#fields.hasErrors('category')}"
               th:text="${#strings.listJoin(#fields.errors('category'), ', ')}"></p>

        </div>
        <div>
            <input id="user" type="text" placeholder="Enter user id"
                   th:field="*{user}">
            <p th:if="${#fields.hasErrors('user')}"
               th:text="${#strings.listJoin(#fields.errors('user'), ', ')}"></p>

        </div>
        <div>
            <input id="amount" type="text" placeholder="Enter amount"
                   th:field="*{amount}">
            <p th:if="${#fields.hasErrors('amount')}"
               th:text="${#strings.listJoin(#fields.errors('amount'), ', ')}"></p>
        </div>
        <div>
            <input id="expenseDate" type="date"
                   th:field="*{expenseDate}">
            <p th:if="${#fields.hasErrors('expenseDate')}"
               th:text="${#strings.listJoin(#fields.errors('expenseDate'), ', ')}"></p>
        </div>
        <div>
            <textarea rows="3"placeholder="Enter description"
                   th:field="*{description}"></textarea>
            <p th:if="${#fields.hasErrors('description')}"
               th:text="${#strings.listJoin(#fields.errors('description'), ', ')}"></p>
        </div>
        <button type="submit" a th:href="@{/expenses/create}">Create expense</button>
        <button type="submit" a th:href="@{/expenses}">Back</button>
    </form>
</main>

</body>
</html>
