<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>expense template</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div>
    <h3>Expense List</h3>
    <div>
        <a th:href="@{/web/create}">Create expense</a>
    </div>
    <table class="table table-stripped">
        <thead>
            <th>Id</th>
            <th>Category</th>
            <th>User</th>
            <th>Amount</th>
            <th>Expense Date</th>
            <th>Description</th>
        </thead>
        <tbody>
            <tr th:each="expense : ${expenses}">
                <td th:text="${expense.id}"></td>
                <td th:text="${expense.category}"></td>
                <td th:text="${expense.user}"></td>
                <td th:text="${expense.amount}"></td>
                <td th:text="${expense.expenseDate}"></td>
                <td th:text="${expense.description}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
