<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>category template</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div>
    <h2>User List</h2>
    <div>
            <a th:href="@{/users/create}">Create user</a>
        </div>
    <table class="table table-stripped">
        <thead>
            <th>userId</th>
            <th>userName</th>
            <th>email</th>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.userId}"></td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.email}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>